.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    /* border-bottom: 20px; */
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
   border-bottom: 10px;
}

.product-card {
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #d3d3d3;
    color: #666565;
    font-size: 18px;
    font-weight: 500;
}